[submodule "KindleTool"]
	path = KindleTool
	url = https://github.com/KindleModding/KindleTool.git
[submodule "openlipc"]
	path = openlipc
	url = https://github.com/arkq/openlipc.git
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/DaveGamble/cJSON.git
